.cabecalho{
background-color: brown;
color: chocolate;
text-align: center;
margin:0 auto;
max-width: 800px;
padding:16px;
}
.principal{
background-color: chocolate;
color: brown;
}
.principal-imagem{
    /*dimensões da imagem:largura e a altura 300 pixels*/
    width: 300px;
    height: 300px;
}